NODE_ENV=development
PORT=3000
COOKIE_DOMINIO=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=velua

JWT_SECRET=

# Solo en producción
DATABASE_URL=

# Usuarios
ADMIN_NOMBRE=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#---CARRITO---
ENVIO_GRATIS_DESDE=
DESCUENTO_TRANSFERENCIA=